body{
    text-align: center;
    margin: 0;
    background-color:  #27a1ff;
    
}

.previous{
    width: 100px; 
}

.next{
        width: 100px; 
}

.play-pause{
    width: 70px;
}

.music{
    font-family: serif;
    font-weight: 900;
    color: white;
}

.footer{
    font-family: serif;
    font-weight: 800;
    color: white;
}

.indicator-img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: blue;
    border: 3px solid gold;
}

.song{
    border-radius: 25px;
    background-color: white;
    background-size: 100% 100%;
    font-family: montserrat;
    color: black;
        margin: auto;
        width: 350px;
        border: 3px solid red;
}

.name{
    text-align: center;
    color: black;
    font-weight: 900;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

